

body{
    background-image: linear-gradient(to right, rgba(86,183,230,1.00), black);
    background-size: contain;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
}

a:link{
    color: white;
}
a:visited{
    color: gray;
}
img{
    max-width: 50%;
    height: auto;
}
header{
    display: flex;
    flex-direction: justify;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    padding: 40px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
  
}
button{
    background-color: black;
    border: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
    border: 1px solid white;
}

.dropdown1{
    position: relative;
    display: block;
   
}

#completed{
    position: absolute;
    margin: 0;
    font-size: small;
}

.dropdown2{
    position: relative;
    display: block;
}
#wip{
    position: absolute;
    margin: 0;
    font-size: small;
   
}
.dropdown3{
    position: relative;
    display: block;
}
#socials{
    position: absolute;
    margin: 0;
    font-size: small;
}

.resources{
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    margin: 100px;
    padding: 5px;
}

.welcometext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
}
#hello{
    height: 80px;
    width: 80px;  
}

.hide{
    display: none;
}

@media only screen and (max-width: 600px) {
  body{
    font-family: 'Roboto Mono', monospace;
  }
  header{
    display: block;
  }
  .resources{
    color: rgb(255, 255, 255);
    margin: 100px;
    display: block;
}
  }