body{
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
}
img{
    max-width: 50%;
    height: auto;
}
header{
    display: flex;
    flex-direction: justify;
    justify-content: space-around;
    color: rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    margin-bottom: 90px;
    padding: 10px;
}
button{
    background-color: black;
    border: none;
    color: rgb(255, 255, 255);
}
.dropdown1{
    position: relative;
    min-width: 160px;
}
.completed{
    color: black;
    padding: 12px 16px;
    position: absolute;
    text-decoration: none;
    display: block;
}
.dropdown2{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
.resources{
    display: flex;
    flex-direction: justify;
    justify-content: space-around;
    color: rgb(255, 255, 255);
}
